h1{
    color: #3b3a30;
}

body{
    background-color: #E3FBFF;
}

.submit-button{
    background-color: #b2c2bf;
    color: #3b3a30;
}

.outputText {
    font-size: x-large;
}

.media-body{
    white-space: nowrap;
}

.myImage{
    border-radius:5px;
}